body{
    background-attachment: fixed;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover
}

#pagelink {
    background-color: #ccc;
    padding: 20px;
    border: 10px solid black;
  }

h1 {
    font-size: 300%;
    color: white
}

#description {
    background-color: white

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}